<html>
    <head>
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/styles.css') }}">
    </head>
<body>
    <div class='banner'>
        <h1 class = 'Title'>Catalog App</h1></div>
    <h2 class = 'item_title'>{{item.name}}</h2>
    
    <p class = 'item_description'>Description: {{item.description}}</p>
    <p><a href = "{{url_for('editItem', item_name = item.name)}}">
        <button id ='edit-item'>
            <span aria-hidden='true'></span>Edit
        </button>
        </a> | <a href = "{{url_for('deleteItem', item_name = item.name)}}">
        <button id ='delete-item'>
            <span aria-hidden='true'></span>Delete
        </button>
        </a></p>
    </body>
</html>