<html>
    <head>
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/styles.css') }}">
    </head>
<body>
    <div class='banner'>
        <h1 class = 'Title'>Catalog App</h1></div>
    <h2 class = 'item_title'>New Item</h2>
    <form action = "{{ url_for('newItem')}}" method = 'post'>
        <p class = 'options'>Name:</p>
            <input type = 'text' size = '30' name='name'>
        <p class = 'options'>Description:</p>
            <input type = 'text' size = '250' name = 'description'>
        <p class = 'options'>Category:</p>
            <select name = 'category'>
            {% for i in categories %}
                <option value = {{i.name}}>{{i.name}}</option>
            {% endfor %}
            </select>
        <p><input class = 'submit' type = 'submit'value = 'Create'></p>
    
    </form>
    <a href="{{url_for('catalogs')}}">Cancel</a>
    
    
    </body>

</html>