<html>
    <body>
        <h1>New Menu Item</h1>
        
        <form action="#">
        
            <p>Name:</p>
                <input type = 'text' size='30' name='name'>
            <p>Description:</p>
                <input type = 'text' size='50' name='description'>
            <p>Price:</p>
                <input type = 'text' size '30' name='price'>
            <p>Course:</p>
                <input type = 'Radio' name='course' value='Appetizer'> Appetizer <br>
                <input type = 'Radio' name='course' value='Entree'> Entree <br>
                <input type = 'Radio' name='course' value='Dessert'> Dessert <br>
                <input type = 'Radio' name='course' value='Beverage'> Beverage
            <p><input type='submit' value='Create'></p>
            
        </form>

    </body>
</html>